.pj-block--section {
  padding-top: 80px;
  padding-bottom: 80px;
  @media(max-width: $screen-sm-tablet) {
    padding-top: calc(80px * 0.75);
    padding-bottom: calc(80px * 0.75);
  }
  @media(max-width: $screen-mb) {
    padding-top: calc(80px * 0.55);
    padding-bottom: calc(80px * 0.55);
  }
}

.pj-hero {
  &--section {
    background-color: $CGH-Green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .pj-container {
      max-width: 1254px;
    }
  }
  &--content {
    max-width: 615px;
  }
  &--headline {
    color: #FFFFFF;
    margin: 0 0 5px;
    span {
      color: $CGH-Yellow;
    }
  }
  &--sub-headline {
    color: $CGH-Yellow;
    margin: 0 0 5px;
  }
  &--desc {
    color: #FFFFFF;
    margin-bottom: 41px;
  }
}

.pj-introduce {
  &--section {
    background-color: #FFFFFF;
  }
  &--content {
    text-align: center;
    background: $White-Gradient;
    padding: 70px 30px;
    border-radius: 70px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  }
  &--headline {
    max-width: 1018px;
    margin: 0 auto 7px;
  }
  &--desc {
    max-width: 1018px;
    margin: 0 auto 41px;
  }
  &--featrue-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    max-width: 1160px;
    margin: 0 auto 41px;
  }
  &--featrue-item {
    width: calc(25% - 23px);
    .pj-featue-image {
      width: auto;
      height: 115px;
      margin-bottom: 22px;
    }
    .pj-featue-title {
      font-size: 20px;
      font-weight: 600;
    }
  }
  @media(max-width: $screen-mb) {
    &--featrue-item {
      width: calc(50% - 15px);
    }
  }
}

.pj-our-service {
  &--section {
    background-color: #FFFFFF;
  }
  &--headline {
    margin: 0 0 55px;
  }
  &--image-feature {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    &.pj-content-reverse {
      flex-direction: row-reverse;
    }
  }
  &--image-wrap {
    width: calc(50% + 15px);
  }
  &--image {
    display: none;
    position: relative;
    background: #FFFFFF;
    padding-bottom: 100%;
    overflow: hidden;
    line-height: 0;
    overflow: hidden;
    border-radius: 60px;
    box-shadow: 10.1px 3.5px 25px 0px rgba(31, 65, 66, 0.40);
    &.pj-is-active {
      display: block;
    }
    .pj-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &--feature-wrap {
    width: calc(50% - 15px);
    max-width: 522px;
  }
  &--featrue-list {
    margin-bottom: 43px;
  }
  &--featrue-item {
    padding: 16px 0;
    border-bottom: 2.5px solid rgba(0, 28, 15, 0.70);
    &.pj-is-active {
      .pj-featue-title {
        color: $CGH-Green;
        opacity: 1;
      }
      .pj-featue-desc {
        display: block;
      }
    }
    .pj-featue-title {
      font-size: 23px;
      text-transform: uppercase;
      color: $CGH-Forest;
      opacity: 0.4;
      cursor: pointer;
      margin: 0;
    }
    .pj-featue-desc {
      display: none;
      margin-top: 16px;
    }
  }
  @media(max-width: $screen-sm-tablet) {
    &--image-feature {
      flex-direction: column !important;
    }
    &--image-wrap,
    &--feature-wrap {
      width: 100%;
      max-width: unset;
    }
  }
}
